PRODUCTION=false
LOAD_BALANCED=false
LOAD_PROD_PORT=3000
LOAD_DEV_PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=<name>
DB_USERNAME=postgres
DB_PASSWORD=<password>

API_KEY=<abcdefg>
AUTH_SECRET=<abcdefg>

SECRET_ID_MULTIPLIER=8631529407
