<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Easy POST sender</p>

    <div>Login</div>
    <form method="POST" action="/api/auth/login">
      <label for="email">Email</label><input type="text" name="email" /><br />
      <label for="password">Password</label><input type="password" name="password" /><br />
      <input type="submit" value="Login" />
    </form>
  </body>
</html>
