<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>View list of users: <a href="/users" target="_blank">/users</a></p>
    <p>View list of posts: <a href="/posts" target="_blank">/posts</a></p>
  </body>
</html>
