<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script>
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Easy POST sender</p>

    <div>Login</div>
    <form method="POST" action="/api/auth/login">
      <label for="email">Email</label><br /><input type="text" name="email" /><br />
      <label for="password">Password</label><br /><input type="password" name="password" /><br />
      <input type="submit" value="Login" />
    </form>
    
    <br />
    
    <div>Register</div>
    <form method="POST" action="/api/auth/register">
      <label for="email">Email</label><br /><input type="text" name="email" /><br />
      <label for="password">Password</label><br /><input type="password" name="password" /><br />
      <input type="submit" value="Register" />
    </form>
    <br />
    
    <iv>Test latency</div>
    <form>
      <label for="password">API Secret</label><br /><input id="secret" type="password" name="password" /><br />
      <input type="button" value="Test" />
    </form>
    
  </body>
</html>
