<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the website</p>

    <p>But, this is an API only service so you should be using HTTP requests instead.</p>
  </body>
</html>
